@import "../common.scss";

.edit-story-menu {
  padding: 5px 5px 5px 5px;
  display: block;
  @include box-sizing(border-box);
  border: 1px solid rgba(230,230,230,1);
  border-radius: 2px;
  margin-bottom: 5px;
  background-color: rgba(30,30,50,1);
  // height: 1000px;


  &:hover{
    // -webkit-box-shadow: 0px 0px 2px 1px rgba(40, 200, 250, .75);
    // -moz-box-shadow: 0px 0px 2px 1px rgba(40, 200, 250, .75);
    // box-shadow: 0px 0px 2px 1px rgba(40, 200, 250, .75);
    border: 1px solid rgba(255,255,255,1);
  }

  &:last-child {
    margin-bottom: 0px;
  }

  .opt-btn-group {
    color: rgba(200,200,200,1);
    float: right;

    i {
      color: rgba(200,200,200,1);

      &:hover {
        color: rgba(230,230,230,1);
      }
    }
  }

  .edit-story-menu-title-input {
    color: rgba(230,230,230,1);
    font-family: Hack, monospace;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .edit-story-menu-desc {
    color: rgba(230,230,230,1);
    font-family: Hack, monospace;
    font-size: 10px;

    padding: 5px 5px 5px 5px;
    display: block;
    @include box-sizing(border-box);
    border: 1px solid rgba(230,230,230,1);
    border-radius: 2px;
    background-color: rgba(30,30,70,1);

    line-height: 1.4;
    // height: 25px;
    overflow: hidden;
    @extend %clearfix;

    textarea {
      height: 200px;
      margin-bottom: 5px;
    }

    &.expanded {
      height: auto;
      overflow: auto;
    }
  }

  .menu-btn-group {
    float: right;

    .menu-btn {
      color: rgba(230,230,230,1);
      font-family: Hack, monospace;
      font-size: 12px;

      padding: 5px 5px 5px 5px;
      display: block;
      @include box-sizing(border-box);
      border: 1px solid rgba(230,230,230,1);
      border-radius: 2px;
      background-color: rgba(30,30,70,1);
      @include user-select;
      cursor: default;

      .btn-text {

      }

      &:hover {
        background-color: rgba(30,30,100,1);
      }
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    // height: 64px;
    height: 30px;
    font-size: 16px;
    // margin-bottom: 10px;
    background-repeat: no-repeat;
    // @include background-size(40px, 171px);
    @include box-sizing(border-box);
    // box-sizing: border-box;

    display: block;
    padding: 5px 0px 5px 5px;
    // @include transition(border-color .2s);
    border: 1px solid #aaa;
    @include border-radius(2px);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgba(20,20,20,0.3);
    color: rgba(230,230,230,1);
  }
}

.edit-story-menu-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20,20,20,0.8);
  z-index: 1000;
  overflow-y: auto;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

  &.hidden {
    height: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    top: -5px;

  }

  .edit-story-menu {
    margin: 0 auto;
    width: 70%;
    margin-top: 20px;
  }
}
